[core]
	editor = vim
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[user]
	name = juneidy
	email = juneidy.soo@gmail.com
[push]
	default = simple
