[core]
	editor = vim
[difftool]
	prompt = false
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""
[alias]
	d = difftool
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[user]
	name = juneidy
	email = juneidy.soo@gmail.com
[push]
	default = simple
